# Terraform files
*.tfstate
*.tfstate.*
.terraform/
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Lambda build artifacts
*.zip

# Node.js dependencies and build output
node_modules/
dist/

# Mac system files
.DS_Store

# VS Code settings
.vscode/

serviceAccountKey.json
secrets.h